*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
daemon/project
ledger-core-binding/lib/resources
core_data_path/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/
.DS_Store
/daemon/src/main/resources/application.conf

*.db
*.log

# conf file as it is sample now
daemon/src/main/resources/*.conf
core_data/
